MLabel {
    background-color: #F2D5D9;
    font-size: 50px;
}

QLabel#subjectLabel {
    border: 1px dashed #DCDCDC;
    border-radius: 6px;
    background-color: #F2D5D9;
}

QLabel#subjectLabel:hover {
    border: 1px dashed #DCDCDC;
    border-radius: 6px;
    background-color: #f1b9c1;
}